<a href="https://colab.research.google.com/github/18KimHoWon/DAP__/blob/main/DataProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
agedf = pd.read_csv('Enter_korea_by_age.csv')
agedf.drop(['growth', 'share'], axis = 1, inplace=True)
agedf.head()

     date     nation  visitor  age0-20  ...  age31-40  age41-50  age51-60  age61
0  2019-1      China   392814    36520  ...    103657     48574     40893  40998
1  2019-1      Japan   206526    18015  ...     34165     39811     33857  20330
2  2019-1     Taiwan    87954    18888  ...     18595     18862      8169   4566
3  2019-1  Hong Kong    35896     3890  ...      7400      5461      4629   2137
4  2019-1      Macao     2570      223  ...       762       264       181     92

[5 rows x 9 columns]

In [3]:
purposedf = pd.read_csv('Enter_korea_by_purpose.csv')
purposedf.drop(['growth', 'share'], axis = 1, inplace=True)
purposedf.head()

     date     nation  visitor  ...  official affairs  studying  others
0  2019-1      China   392814  ...               138      8793   60777
1  2019-1      Japan   206526  ...               127       785    4576
2  2019-1     Taiwan    87954  ...                22       180    1285
3  2019-1  Hong Kong    35896  ...                 2        90    1092
4  2019-1      Macao     2570  ...                 0        17      45

[5 rows x 8 columns]

우리나라를 방문한 사람들이 가진 국적 중 가장 많은 국적을 찾는다.

In [4]:
agedf.sort_values(by=['visitor'], ascending=False).drop_duplicates(['nation'])

        date           nation  visitor  ...  age41-50  age51-60  age61
420   2019-8            China   578112  ...     76689     57236  46840
121   2019-3            Japan   375119  ...     59631     47010  29468
542  2019-10           Taiwan   127944  ...     22929     18315  13589
325   2019-6              USA   105398  ...     17788     15491  10452
183   2019-4        Hong Kong    76104  ...     15750     12675   8376
187   2019-4         Thailand    69726  ...     10301      7013   4423
185   2019-4      Phillipines    66525  ...      8410      5904   4280
548  2019-10          Vietnam    64820  ...      9181      8616   5157
670  2019-12         Malaysia    57764  ...     11490      6354   3237
671  2019-12        Singapore    42216  ...      8774      5054   2581
210   2019-4           Russia    34205  ...      5078      3591   1853
186   2019-4        Indonesia    31427  ...      4424      3222   1830
206   2019-4           Canada    21361  ...      2745      3479   4066
239   2019-4  Overseas Korean    20174  ...      3906      5741   6789
233   2019-4       Austrailia    19938  ...      2990      2759   5427
429   2019-8            India    17001  ...      1596       708    334
211   2019-4               UK    16707  ...      2227      2545   3658
572  2019-10          Germany    13322  ...      2273      2289   1396
453   2019-8           France    12984  ...      1646      1229    465
732   2020-1         Mongolia    12323  ...      2899      1373    532
493   2019-9       Uzbekistan     9056  ...      1297       567    282
664  2019-12            Macao     8342  ...      1231       748    534
504   2019-9      Asia others     7350  ...       964       591    229
194   2019-4          Myanmar     7272  ...       578       369    196
454   2019-8            Italy     5915  ...       824       628    300
198   2019-4         Cambodia     5325  ...       341       268    260
435   2019-8             *GCC     5285  ...       550       419    133
537   2019-9    Africa others     5119  ...       885       528    136
376   2019-7       Kazakhstan     4953  ...       607       387    239
592  2019-10    Europe others     4868  ...       788       432    282
569  2019-10   America others     4669  ...       642       439    391
457   2019-8            Spain     4554  ...       775       554    259
714  2019-12      New Zealand     4355  ...       575       581    337
395   2019-7       Netherland     4141  ...       606       592    180
208   2019-4           Mexico     3298  ...       456       331    310
437   2019-8           Turkey     3015  ...       326       150     57
456   2019-8          Ukraine     2904  ...       191        98     26
562  2019-10           Israel     2820  ...       412       438    890
521   2019-9           Poland     2570  ...       343       166    120
507   2019-9           Brazil     2498  ...       424       225    187
580  2019-10           Sweden     2303  ...       465       408    245
222   2019-4            Swiss     2236  ...       325       364    354
499   2019-9        Sri Lanka     2103  ...       173        98     21
476   2019-8     South Africa     1887  ...       159       138     71
500   2019-9       Bangladesh     1880  ...       206       110     32
590  2019-10          Denmark     1802  ...       343       337    174
406   2019-7          Belgium     1549  ...       236       208     62
399   2019-7           Norway     1494  ...       248       211     78
585  2019-10          Finland     1473  ...       258       183    117
584  2019-10          Austria     1461  ...       264       265    192
501   2019-9         Pakistan     1459  ...       182       105     22
458   2019-8          Romania     1432  ...       158        83     25
591  2019-10          Ireland     1394  ...       217       169    131
463   2019-8         Portugal     1342  ...       208       164     59
528   2019-9           Greece     1023  ...       135       133     87
469   2019-8         Bulgaria      751  ...        72        45     14
295   2019-5   Oceania others      638  ...       127        71     39
467   2019-8          Croatia      614  ...        75        50     15
443   2019-8             Iran      526  ...        76        44     15
298   2019-5        Stateless       72  ...         7        10      6

[60 rows x 9 columns]